%h1 Tools#new

%button#myBtn{:onclick => "endmill()", :type => "button"} Endmill
%button#myBtn{:onclick => "drill()", :type => "button"} Drill

-# %button{:onclick => "myFunction()"} Click me
%p#demo

#endmillForm{:style => "display:none",}
  = form_for @tool do |t|
    -# =t.hidden_field :user_id

    = t.radio_button :kind, 'flat'
    = t.label :kind, 'Flat', :value => 'Flat'
    = t.radio_button :kind, 'ball'
    = t.label :kind, 'Ball', :value => 'Ball'

    %br
    %br

    =t.label :name
    =t.text_field :name

    =t.label :brand
    =t.text_field :brand

    =t.label :quantity
    =t.text_field :quantity

    =t.label :diameter
    =t.text_field :diameter

    =t.label :length
    =t.text_field :length

    =t.label :teeth
    =t.text_field :teeth

    =t.label :fZ_low
    =t.text_field :fZ_low

    =t.label :fZ_high
    =t.text_field :fZ_high

    =t.label :fZ_rough
    =t.text_field :fZ_rough

    =t.label :fZ_finish
    =t.text_field :fZ_finish

    =t.label :Vc_low
    =t.text_field :Vc_low

    =t.label :Vc_high
    =t.text_field :Vc_high

    =t.label :Vc_rough
    =t.text_field :Vc_rough

    =t.label :Vc_finish
    =t.text_field :Vc_finish

    =t.submit

#drillForm{:style => "display:none",}
  %h1 Drill

= button_to 'All Tools', tools_path, :class => "Button", :method => :get

:javascript
  function myFunction() {
    debugger;
    document.getElementById("demo").innerHTML = "Hello World";
  }
  function endmill() {
    console.log("endmill button hit");
    x = document.getElementById('endmillForm');
    if (x.style.display !== "contents"){
    x.style.display = "contents";}
    else {x.style.display = "none";}
    cancelOthers(endmillForm.id)
  }
  function drill() {
    console.log("drill button hit");
    d = document.getElementById('drillForm');
    if (d.style.display !== "contents"){
    d.style.display = "contents";}
    else {d.style.display = "none";}
    cancelOthers(drillForm.id)
  }
  function cancelOthers(form) {
    console.log("cancel other button if activated");
    var kindArray = ["drillForm", "endmillForm"];
    a = kindArray.length
    for (i = 0; i < kindArray.length; i++)
      if (form == kindArray[i]){
      kindArray.splice(i,1)
      }
    kindArray.forEach(checkit);
  }
  function checkit(value) {
    //console.log(fullForm)
    ef = document.getElementById(value);
    if (ef.style.display !== "none" || ef.style.display === null){
    ef.style.display = "none"
    }
  }
